@import "~bootstrap/scss/bootstrap.scss";

body {
  background: rgb(202, 202, 202);
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
  height: 100%;
  color: rgb(75, 75, 75);
}

.page {
  height: 90vh;
}

.card {
  width: 450px;
  height: 573px;
  box-shadow: 0px 10px 20px 10px rgba(70, 70, 70, 0.164);
  padding: 0px;
  border-radius: 20px;
  position: relative;
  font-size: 200px;
  margin: auto;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px;
    font-size: 80px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 40px;
    font-size: 80px;
  }
  &.spade::before,
  &.spade:after {
    content: "\2660";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
}
