@import "~bootstrap/scss/bootstrap.scss";

body {
  background: rgb(202, 202, 202);
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
  height: 100%;
  color: rgb(75, 75, 75);
}

.page {
  height: 90vh;
}

.card {
  width: 450px;
  height: 573px;
  box-shadow: 0px 10px 20px 10px rgba(70, 70, 70, 0.164);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.topsuit {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
}

.bottomsuit {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
}
.cardnumber {
  font-size: 200px;
}
